<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.PERSONNELTRACKINGConnectionString"
            connectionString="Data Source=RINUA\SQLEXPRESS;Initial Catalog=PERSONNELTRACKING;Persist Security Info=True;User ID=asherkairos;Password=Asher.kairos0922;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>